/* Genel Stil */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    margin-bottom: 20px;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Jumbotron */
.jumbotron {
    background-color: #e9ecef;
    padding: 2rem 1rem;
}

/* Post Content */
.post-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}